<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

   <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://z5027610.srvr:3306/Auction</property>
        <property name="connection.username">square</property>
        <property name="connection.password">root</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>

        <!-- Mapping files -->
        <mapping resource="edu/unsw/comp9321/hibernateBeans/User.hbm.xml"/>
        <mapping resource="edu/unsw/comp9321/hibernateBeans/Item.hbm.xml"/>
        <mapping resource="edu/unsw/comp9321/hibernateBeans/Message.hbm.xml"/>
        <mapping resource="edu/unsw/comp9321/hibernateBeans/WishList.hbm.xml"/>
    </session-factory>

</hibernate-configuration>